<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <!-- Только .NET Framework 4.8 (Windows 7 SP1 поддерживает 4.8, но не 4.8.1). -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <!-- Длинные пути через префикс \\?\ (на Windows 7 системный LongPathsEnabled отсутствует). -->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  <system.net>
    <!-- Прокси Windows с учётными данными текущего пользователя. -->
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>
